<div
  *ngFor="let parent of searchList | filterCascade : filterText : 'name'"
  class="flex justify-center text-white font-normal"
>
  <ul class="text-right justify-items-start mx-auto w-full">
    <li>
      <div>
        <div
          title="{{ parent.name }}"
          class="text-lg mt-2 mr-2 py-2 text-orange-300"
          [ngClass]="
            parent.name.toLowerCase().includes(filterText) && filterText !== ''
              ? 'bg-light-white text-yellow-50 rounded-full'
              : ''
          "
        >
          <span
            class="text-sm mx-2 float-left inline-block my-auto rounded-full hover:text-orange-500 hover:bg-light-white"
            >{{ parent.children.length }}</span
          >
          {{ parent.name }}
        </div>
        <ul *ngFor="let child of parent.children">
          <li>
            <p
              class="text-base mt-2 after:content-['...']"
              [ngClass]="
                child.name.toLowerCase().includes(filterText) &&
                filterText !== ''
                  ? 'bg-green-400 text-dark-purple rounded-full'
                  : ''
              "
            >
              {{ child.name }}
            </p>
          </li>
          <li>
            <div class="border-r-2 border-dotted">
              <ul *ngFor="let grandson of child.children">
                <li>
                  <p
                    class="text-sm m-2 after:content-['<']"
                    [ngClass]="
                      grandson.name.toLowerCase().includes(filterText) &&
                      filterText !== ''
                        ? 'bg-orange-400 text-dark-purple'
                        : ''
                    "
                  >
                    {{ grandson.name }}
                  </p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
