<!-- <div
  *ngFor="let parent of searchList | filterSidbarMenu : filterText"
  class="flex justify-center text-white font-normal"
>
  <ul
    class="text-right justify-items-start mx-auto w-full"
    *ngIf="parent.searchText.toLowerCase().includes(filterText)"
  >
    <li>
      <div>
        <div
          title="{{ parent.name }}"
          class="text-lg mt-2 mr-2 py-2 text-orange-300"
        >
          <span
            class="text-sm mx-2 float-left inline-block my-auto rounded-full hover:text-orange-500 hover:bg-light-white"
            >{{ parent.children.length }}</span
          >
          <span [innerHTML]="parent.name | highlight : filterText"></span>
        </div>
        <ul *ngFor="let child of parent.children">
          <li *ngIf="child.searchText.toLowerCase().includes(filterText)">
            <p class="text-base mt-2 after:content-['...']">
              <span [innerHTML]="child.name | highlight : filterText"></span>
            </p>
          </li>
          <li>
            <div class="border-r-2 border-dotted">
              <ul *ngFor="let grandson of child.children">
                <li
                  *ngIf="grandson.searchText.toLowerCase().includes(filterText)"
                >
                  <p class="text-sm m-2 after:content-['<']">
                    <span
                      [innerHTML]="grandson.name | highlight : filterText"
                    ></span>
                  </p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div> -->
<!-- <div class="flex items-center rounded-md bg-light-white my-6 px-4 py-2">
  <mat-icon class="text-white text-lg block cursor-pointer mr-2"
    >search</mat-icon
  >
  <input
    type="search"
    placeholder="...بحث"
    class="text-base bg-transparent w-full text-white focus:outline-none text-right"
    [(ngModel)]="filterText"
  />
</div> -->
<div>
  <app-auto-complete
    (searchTextChangedEvent)="changeSearchText($event)"
    [options]="investArr"
    [displayFn]="displayFn"
  ></app-auto-complete>
</div>
<mat-accordion dir="rtl" [multi]="filterText !== ''">
  <!-- <app-tree-list
    *ngFor="
      let root of searchList | filterSidbarMenu : filterText;
      let index = index
    "
    [parent]="root"
    [filterText]="filterText"
    [id]="1"
    [index]="index + 1"
    class="flex text-white"
  ></app-tree-list> -->
  <!-- <app-tree-nested
    [filterText]="filterText"
    [dataSource]="dataSource"
    [treeControl]="treeControl"
  ></app-tree-nested> -->
  <app-tree-list
    *ngFor="
      let root of searchList | filterSidbarMenu : filterText;
      let index = index
    "
    [parent]="root"
    [filterText]="filterText"
    [index]="index + 1"
  ></app-tree-list>
</mat-accordion>
